name: Build and deploy to container registries
on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 2.1.0-stretch
            build-args: |
              VERSION=2.1.0
              BUILD_PROFILE=dist
            tags: |
              z0beat/atlas:2.1.0-stretch
              z0beat/atlas:2.1.0
              z0beat/atlas:latest
              ghcr.io/zer0beat/atlas:2.1.0-stretch
              ghcr.io/zer0beat/atlas:2.1.0
              ghcr.io/zer0beat/atlas:latest
            dockerfile: stretch/Dockerfile
          - name: 2.1.0-stretch-dev
            build-args: |
              VERSION=2.1.0
              BUILD_PROFILE=dist|embedded-hbase-solr
            tags: |
              z0beat/atlas:2.1.0-stretch-dev
              z0beat/atlas:2.1.0-dev
              ghcr.io/zer0beat/atlas:2.1.0-stretch-dev
              ghcr.io/zer0beat/atlas:2.1.0-dev
            dockerfile: stretch/Dockerfile
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-${{ matrix.name }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.name }}-buildx

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build ${{ matrix.name }}
        uses: docker/build-push-action@v2
        with:
          file: ${{ matrix.dockerfile }}
          build-args: ${{ matrix.build-args }}
          tags: localhost:5000/z0beat/atlas:test
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      
      - name: Test ${{ matrix.name }}
        run: |
          git clone https://github.com/docker-library/official-images.git ./official-images
          docker pull localhost:5000/z0beat/atlas:test
          docker tag localhost:5000/z0beat/atlas:test z0beat/atlas:test
          ./test/run-tests.sh 'z0beat/atlas:test'

      - name: Publish ${{ matrix.name }}
        uses: docker/build-push-action@v2
        if: ${{ github.ref == 'refs/heads/master'}}
        with:
          file: ${{ matrix.dockerfile }}
          build-args: ${{ matrix.build-args }}
          tags: ${{ matrix.tags }}
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache