name: Build and Deploy to Dockerhub
on: [push]

jobs:
  generate-jobs:
    name: Generate Jobs
    runs-on: ubuntu-latest
    outputs:
      strategy: ${{ steps.generate-jobs.outputs.strategy }}
    steps:
      - uses: actions/checkout@v2
      - id: generate-jobs
        name: Generate Jobs
        run: |
          strategy="$(cat strategy.json | tr -d '\n')"
          jq . <<<"$strategy" # sanity check / debugging aid
          echo "::set-output name=strategy::$strategy"

  build:
    needs: generate-jobs
    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy) }}
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare environment
        run: git clone https://github.com/docker-library/official-images.git ./official-images

      - name: Pull dependencies
        run: grep FROM ${{ matrix.dockerfile }} | awk 'toupper($1) == "FROM" { print $2 }' | xargs -I {} docker pull {}

      - name: Build ${{ matrix.name }}
        uses: docker/build-push-action@v1
        with:
          dockerfile: ${{ matrix.dockerfile }}
          build_args: VERSION=${{ matrix.version }}
          repository: z0beat/atlas
          tags: ${{ matrix.tags }}
          push: false
      
      - name: Test ${{ matrix.name }}
        run: ./test/run-tests.sh 'z0beat/atlas:${{ matrix.name }}'

      - name: Publish ${{ matrix.name }}
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: ${{ matrix.dockerfile }}
          build_args: VERSION=${{ matrix.version }}
          repository: z0beat/atlas
          tags: ${{ matrix.tags }}
          push: ${{ github.ref == 'refs/heads/master'}}
